:root {
    --red1: #f2403a;
    --red2: #d2201a;
    --blue1: #44f;
    --blue2: #33e;
    --white: #fff;

    --background: #f5f5f5;

    --base1: #555;
    --base2: #444;
    --primary1: #4ca1e6;
    --primary2: #2c81c6;

    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
