.icon {
    width: 18px;
    height: 18px;
}

.feature {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 16px;

    background-color: #fafafa;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--base2);

    box-shadow: var(--shadow);
}

.name {
    text-decoration: none;
}
