.header {
    height: 48px;
    background-color: var(--white);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 0 8px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    padding: 0;
    gap: 8px;
}

.nav__item {
    list-style-type: none;
}
